//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #575962;
$white-color: #ffffff;
$black-color: #333333;
$transparent-bg : transparent;
$default-color : #607D8B;
$primary-color : #0D8BF2;
$info-color : #21A6C4;
$success-color : #33CC33;
$warning-color : #F7B84B;
$danger-color : #D4112E;

$font-weight-light : lighter;
$font-weight-normal : 400;
$font-weight-mediumbold : 500;
$font-weight-bold : 600;
$font-weight-extrabold : 800;